body {
    background-image: url(/assets/backgrounglight.png);
   background-size: cover;
}


.future {
    background-color:rgb(53, 49, 74)
}

/* .fade {
    background-color: linear-gradient(to right, rgb(244,242,242) 0%,rgb(53,49,74) 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/* } */