

body {
    background-image: url(../assets/backgroundlight.png);
    background-size: cover;
}


.future {
    background-color:rgb(53, 49, 74)
}

.future1 {
    background-color: rgb(64, 57, 97)
}

.future2 {
    background-color: rgb(72, 60, 133)
}

.future3 {
    background-color: rgb(75, 53, 184)
}

.future4 {
    background-color: rgb(83, 55, 224)
}


line {
    margin: 1rem 0;
    color: black
}


.added-button {
    margin-bottom: 10px;

}


.card-img-top{
    height: 100px;
    width: 100px;
    margin-top: 10%;
    margin-left: 30%;
    
}

.image-size {
    height: 60px;
    width: 60px;
 margin-left: 38%;
 margin-top: 20%;

    /* display: flex;
    justify-content: center; */
    

}